.catalog-filters .filter-IsInStock{
  background: $stateTextColor;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  padding-right: 10px;
}

.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content{
  margin: 0 !important;
}

.switch-active{
  .MuiTypography-root{
    background-color: #2AA5A0;
    background-image: radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
  background: radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%) !important;
}

.css-1yjjitx-MuiSwitch-track{
  background-color: $textColor !important;
}

.catalog{
  padding: 50px 0;

  &-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
    color: $stateTextColor;
  }

  &-search{
    width: 100%;
    input{
      width: 100%;
    }
  }


  &-filters-product{
    display: flex;
    padding-top: 50px;

    .catalog-filters{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
      height: fit-content;
      border-radius: 10px;
      background: transparent;
      padding: 12px 20px;
      border: $borderColor 2px solid ;

      .accordion,
      .accordion-content{
        background: transparent;
        border: none;
      }

      .accordion{
        border-bottom: 1px solid $borderColor;
        padding: 7px 0;
      }

      .accordion-content{
        padding: 0 10px 0 0;
        display: flex;
        flex-direction: row;
        color: $stateTextColor;
        p{
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          color: $stateTextColor;
        }
        svg{
          path{
            color: $stateTextColor;
          }
        }
      }

      .filters-title{
        text-align: center;
        color: $stateTextColor;
        margin-bottom: 30px;
      }

      .filter-IsInStock,
      .filter-IsSale,
      .filter-IsNew{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: transparent;
        border: none;
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px solid $borderColor;
        .MuiTypography-root{
          color: $stateTextColor;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
        }
        span{
          color: white;
        }
      }

      .filter-price,
      .filter-rating{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        width: 100%;
        span{
          max-width: 90px;
          color: $stateTextColor;
          font-size: 16px;
          input{
            padding: 12px 7px;
            width: 100%;
            color: rgba(255, 255, 255, 0.66);
            border-radius: 10px;
            border: 1px solid transparent;
            transition: .3s;
            &:hover{
              border-color: $borderColor;
            }
            &:focus-visible{
              outline: none;
              border: 1px solid $borderColor;
              background: $darkBlack;
            }
          }
        }
      }

      .filters-category{
        padding: 12px 0;
        width: 100%;

        .category{
          padding: 7px 10px;
          margin-bottom: 7px;
          text-align: center;
          background: $darkBlack;
          border-radius: 10px;
          cursor: pointer;
          transition: .3s;
          color: $stateTextColor;
          &:hover{
            color: white;
            background: #989797;
          }
          &:active{
            transition: .2s;
          }

        }

        .categoryActive{
          background: #e1e1e1;
          color: black;
          &:hover{
            background: #989797;
            color: black;
          }
        }
      }

      .filter-reset{
        margin-top: 30px;
        padding: 8px 0;
        background: #eaeaea;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        opacity: .7;
        img{
          width: 25px;
          margin: 0 auto;
        }

        &:hover{
          opacity: 1;
          img{
            transition: 1.5s;
            transform: rotate(-360deg);
          }
        }
      }
    }


    .catalog-products{
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      gap: 40px 30px;
      width: 100%;
      height: fit-content;

      .card-product{
        position: relative;
        background: $darkBlack;
        border: 1px solid $borderColor;
        padding: 10px;
        border-radius: 10px;
        //width: 258px;
        &:hover{
          transform: translateY(-3px);
          box-shadow: rgb(255 255 255 / 4%) 0 0 0 5px;
          cursor: pointer;
          transition: all  .3s ease-in-out 0s;
          will-change: transform;
        }
        .product-img{
          border-radius: 10px;
        }

        .product-text-content{
          padding: 10px 7px;
          .product-title{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
            font-family: inherit;
            vertical-align: inherit;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: white;
          }

          .product-flag{
            position: absolute;
            right: 20px;
            top: 20px;
            .product-flag-bg{
              border-radius: 10px;
              margin-bottom: 5px;
              background: $stateTextColor;
              .product-new{
                @extend %flag-prod-ext;
              }
              .product-sale{
                @extend %flag-prod-ext;
              }
            }
          }

          .product-info{
            display: flex;
            justify-content: space-between;
            padding: 12px;
            height: 68px;
            background: rgba(255, 255, 255, 0.04);
            border-radius: 10px;
            margin-top: 12px;
            h3{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 100%;
              font-family: inherit;
              vertical-align: inherit;
              font-size: 16px;
              line-height: 20px;
              font-weight: 500;
              color: $textColor;
            }
            .product-price,
            .product-rating{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 100%;
              font-family: inherit;
              vertical-align: inherit;
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: $stateTextColor;
            }
          }

          .product-noStock{
            margin: 0;
            max-width: fit-content;
            padding: 5px 7px;
            border-radius: 10px;
            background: $darkBlack;
          }
        }

      }

      .no-Stock{
        opacity: .5;
      }

    }
  }

}