.catalog-filters .filter-IsInStock{
  background: white;
  border-radius: 10px;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  padding-right: 10px;
}

.catalog{
  background: silver;
  padding: 50px 0;

  &-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
  }

  &-search{
    width: 100%;
    input{
      width: 100%;
    }
  }


  &-filters-product{
    display: flex;
    padding-top: 50px;

    .catalog-filters{
      display: flex;
      flex-direction: column;
      width: 20%;
      height: fit-content;
      border-radius: 10px;
      background: white;
      padding: 0 12px;

      .filters-title{
        text-align: center;
      }



      .filter-IsNew,
      .filter-IsSale{
        padding: 8px 0;
        @extend %defolt-block-ext;
        input{
          height: 15px;
          width: 15px;
          margin-right: 5px;
          &:hover{
            cursor:pointer;
          }
        }
      }

      .filter-IsInStock{
        width: 100%;
        margin: 0;
        border-radius: 0;
        border-top: .5px solid black;
      }

      .filter-price,
      .filter-rating{
        justify-content: space-between;
        padding: 8px 0;
        border-top: .5px solid black;
        span{
          font-size: 15px;
          max-width: 90px;
          input{
            width: 100%;
          }
        }
      }

      .filters-category{
        padding: 12px 0;

        .category{
          padding: 7px 10px;
          margin-bottom: 7px;
          text-align: center;
          background: silver;
          border-radius: 10px;
          cursor: pointer;
          transition: .3s;
          &:hover{
            background: #e1e1e1;
            padding: 9px 10px;
          }
          &:active{
            transition: .2s;
            background: #989797;
          }

        }

        .categoryActive{
          background: #7e7d7d;
          &:hover{
            background: #a1a0a0;
            padding: 9px 10px;
          }
        }
      }

      .filter-reset{
        padding: 8px 0;
        background: #eaeaea;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
        &:hover{
          background: silver;
        }
      }
    }

    .catalog-products{
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      gap: 40px 30px;
      width: 80%;
      height: fit-content;

      .card-product{
        position: relative;
        .product-flag{
          position: absolute;
          right: 10px;
          top: 10px;
          .product-new{
            @include flag-prod-mix(#860707,white);

          }
          .product-sale{
            @include flag-prod-mix(#c07f01,white);
          }
        }

        .product-price{
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 18px;
        }

        .product-noStock{
          margin: 0;
          max-width: fit-content;
          padding: 5px 7px;
          border-radius: 10px;
          background: silver;
        }

        .product-categories,
        .product-rating{
          font-size: 16px;
          margin-bottom: 5px;
        }


      }

      .no-Stock{
        opacity: .5;
      }

    }
  }

}