

%flag-prod-ext{
  padding: 14px 10px;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 50%;
}

%defolt-block-ext{
  display: flex;
  align-items: center;
  margin: 0;
  //border-radius: ;
  border-top: .5px black solid;
  //border-radius: 10px;
}