@mixin flag-prod-mix($bg, $color){
  background: $bg;
  color: $color;
  @extend %flag-prod-ext;
}

@mixin defolt-block-mix($bg, $padding, $color){
  background: $bg;
  padding: $padding;
  color: $color;
  @extend %defolt-block-ext;
}