$content-width: 1400px;
$content-widthXl:1100px;
$content-widthLg:992px;
$content-widthMd:767px;
$content-widthSm:500px;


//color
$darkBlack: #1A1C1F;
$dopSomeDark: #222528;
$borderColor: #32373B;
$textColor: rgba(255, 255, 255, 0.6);
$stateTextColor: white;