@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-flag .product-flag-bg .product-sale, .catalog-filters-product .catalog-products .card-product .product-text-content .product-flag .product-flag-bg .product-new {
  font-family: "Rubik One", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background: radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  padding: 5px 7px;
}

* {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  background: #1A1C1F;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

input {
  background: #222528;
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: white !important;
}

.header {
  padding: 30px;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .header-logo h3 {
  font-weight: 800;
  font-size: 32px;
  color: white;
}
.header-content .header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header-content .header-nav ul li {
  list-style-type: none;
  padding: 7px 10px;
  border-radius: 10px;
}
.header-content .header-nav ul li:hover {
  background: white;
  transition: 0.5s;
}
.header-content .header-nav ul li a {
  text-decoration: none;
  color: white;
}

.catalog-filters .filter-IsInStock {
  background: white;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  padding-right: 10px;
}

.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root .MuiAccordionSummary-content {
  margin: 0 !important;
}

.switch-active .MuiTypography-root {
  background-color: #2AA5A0;
  background-image: radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background: radial-gradient(100% 283.68% at 100% 0%, rgb(252, 201, 20) 0%, rgb(254, 111, 55) 47.95%, rgb(198, 106, 221) 75.34%, rgb(154, 116, 241) 100%) !important;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.catalog {
  padding: 50px 0;
}
.catalog-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}
.catalog-search {
  width: 100%;
}
.catalog-search input {
  width: 100%;
}
.catalog-filters-product {
  display: flex;
  padding-top: 50px;
}
.catalog-filters-product .catalog-filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  height: fit-content;
  border-radius: 10px;
  background: transparent;
  padding: 12px 20px;
  border: #32373B 2px solid;
}
.catalog-filters-product .catalog-filters .accordion,
.catalog-filters-product .catalog-filters .accordion-content {
  background: transparent;
  border: none;
}
.catalog-filters-product .catalog-filters .accordion {
  border-bottom: 1px solid #32373B;
  padding: 7px 0;
}
.catalog-filters-product .catalog-filters .accordion-content {
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: row;
  color: white;
}
.catalog-filters-product .catalog-filters .accordion-content p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: white;
}
.catalog-filters-product .catalog-filters .accordion-content svg path {
  color: white;
}
.catalog-filters-product .catalog-filters .filters-title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
.catalog-filters-product .catalog-filters .filter-IsInStock,
.catalog-filters-product .catalog-filters .filter-IsSale,
.catalog-filters-product .catalog-filters .filter-IsNew {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #32373B;
}
.catalog-filters-product .catalog-filters .filter-IsInStock .MuiTypography-root,
.catalog-filters-product .catalog-filters .filter-IsSale .MuiTypography-root,
.catalog-filters-product .catalog-filters .filter-IsNew .MuiTypography-root {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.catalog-filters-product .catalog-filters .filter-IsInStock span,
.catalog-filters-product .catalog-filters .filter-IsSale span,
.catalog-filters-product .catalog-filters .filter-IsNew span {
  color: white;
}
.catalog-filters-product .catalog-filters .filter-price,
.catalog-filters-product .catalog-filters .filter-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
}
.catalog-filters-product .catalog-filters .filter-price span,
.catalog-filters-product .catalog-filters .filter-rating span {
  max-width: 90px;
  color: white;
  font-size: 16px;
}
.catalog-filters-product .catalog-filters .filter-price span input,
.catalog-filters-product .catalog-filters .filter-rating span input {
  padding: 12px 7px;
  width: 100%;
  color: rgba(255, 255, 255, 0.66);
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.catalog-filters-product .catalog-filters .filter-price span input:hover,
.catalog-filters-product .catalog-filters .filter-rating span input:hover {
  border-color: #32373B;
}
.catalog-filters-product .catalog-filters .filter-price span input:focus-visible,
.catalog-filters-product .catalog-filters .filter-rating span input:focus-visible {
  outline: none;
  border: 1px solid #32373B;
  background: #1A1C1F;
}
.catalog-filters-product .catalog-filters .filters-category {
  padding: 12px 0;
  width: 100%;
}
.catalog-filters-product .catalog-filters .filters-category .category {
  padding: 7px 10px;
  margin-bottom: 7px;
  text-align: center;
  background: #1A1C1F;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.catalog-filters-product .catalog-filters .filters-category .category:hover {
  color: white;
  background: #989797;
}
.catalog-filters-product .catalog-filters .filters-category .category:active {
  transition: 0.2s;
}
.catalog-filters-product .catalog-filters .filters-category .categoryActive {
  background: #e1e1e1;
  color: black;
}
.catalog-filters-product .catalog-filters .filters-category .categoryActive:hover {
  background: #989797;
  color: black;
}
.catalog-filters-product .catalog-filters .filter-reset {
  margin-top: 30px;
  padding: 8px 0;
  background: #eaeaea;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}
.catalog-filters-product .catalog-filters .filter-reset img {
  width: 25px;
  margin: 0 auto;
}
.catalog-filters-product .catalog-filters .filter-reset:hover {
  opacity: 1;
}
.catalog-filters-product .catalog-filters .filter-reset:hover img {
  transition: 1.5s;
  transform: rotate(-360deg);
}
.catalog-filters-product .catalog-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px 30px;
  width: 100%;
  height: fit-content;
}
.catalog-filters-product .catalog-products .card-product {
  position: relative;
  background: #1A1C1F;
  border: 1px solid #32373B;
  padding: 10px;
  border-radius: 10px;
}
.catalog-filters-product .catalog-products .card-product:hover {
  transform: translateY(-3px);
  box-shadow: rgba(255, 255, 255, 0.04) 0 0 0 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  will-change: transform;
}
.catalog-filters-product .catalog-products .card-product .product-img {
  border-radius: 10px;
}
.catalog-filters-product .catalog-products .card-product .product-text-content {
  padding: 10px 7px;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-family: inherit;
  vertical-align: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: white;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-flag .product-flag-bg {
  border-radius: 10px;
  margin-bottom: 5px;
  background: white;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-info {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  height: 68px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  margin-top: 12px;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-info h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-family: inherit;
  vertical-align: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-info .product-price,
.catalog-filters-product .catalog-products .card-product .product-text-content .product-info .product-rating {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  font-family: inherit;
  vertical-align: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
}
.catalog-filters-product .catalog-products .card-product .product-text-content .product-noStock {
  margin: 0;
  max-width: fit-content;
  padding: 5px 7px;
  border-radius: 10px;
  background: #1A1C1F;
}
.catalog-filters-product .catalog-products .no-Stock {
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
