@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.catalog-filters-product .catalog-products .card-product .product-flag .product-sale, .catalog-filters-product .catalog-products .card-product .product-flag .product-new {
  padding: 14px 10px;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 50%;
}

.catalog-filters-product .catalog-filters .filter-IsNew,
.catalog-filters-product .catalog-filters .filter-IsSale {
  display: flex;
  align-items: center;
  margin: 0;
  border-top: 0.5px black solid;
}

* {
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 500px;
  }
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: white !important;
}

.header {
  padding: 30px;
  background: silver;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-content .header-logo h3 {
  font-weight: 800;
  font-size: 32px;
}
.header-content .header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header-content .header-nav ul li {
  list-style-type: none;
  padding: 7px 10px;
  border-radius: 10px;
}
.header-content .header-nav ul li:hover {
  background: white;
  transition: 0.5s;
}
.header-content .header-nav ul li a {
  text-decoration: none;
  color: black;
}

.catalog-filters .filter-IsInStock {
  background: white;
  border-radius: 10px;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  padding-right: 10px;
}

.catalog {
  background: silver;
  padding: 50px 0;
}
.catalog-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}
.catalog-search {
  width: 100%;
}
.catalog-search input {
  width: 100%;
}
.catalog-filters-product {
  display: flex;
  padding-top: 50px;
}
.catalog-filters-product .catalog-filters {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: fit-content;
  border-radius: 10px;
  background: white;
  padding: 0 12px;
}
.catalog-filters-product .catalog-filters .filters-title {
  text-align: center;
}
.catalog-filters-product .catalog-filters .filter-IsNew,
.catalog-filters-product .catalog-filters .filter-IsSale {
  padding: 8px 0;
}
.catalog-filters-product .catalog-filters .filter-IsNew input,
.catalog-filters-product .catalog-filters .filter-IsSale input {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.catalog-filters-product .catalog-filters .filter-IsNew input:hover,
.catalog-filters-product .catalog-filters .filter-IsSale input:hover {
  cursor: pointer;
}
.catalog-filters-product .catalog-filters .filter-IsInStock {
  width: 100%;
  margin: 0;
  border-radius: 0;
  border-top: 0.5px solid black;
}
.catalog-filters-product .catalog-filters .filter-price,
.catalog-filters-product .catalog-filters .filter-rating {
  justify-content: space-between;
  padding: 8px 0;
  border-top: 0.5px solid black;
}
.catalog-filters-product .catalog-filters .filter-price span,
.catalog-filters-product .catalog-filters .filter-rating span {
  font-size: 15px;
  max-width: 90px;
}
.catalog-filters-product .catalog-filters .filter-price span input,
.catalog-filters-product .catalog-filters .filter-rating span input {
  width: 100%;
}
.catalog-filters-product .catalog-filters .filters-category {
  padding: 12px 0;
}
.catalog-filters-product .catalog-filters .filters-category .category {
  padding: 7px 10px;
  margin-bottom: 7px;
  text-align: center;
  background: silver;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.catalog-filters-product .catalog-filters .filters-category .category:hover {
  background: #e1e1e1;
  padding: 9px 10px;
}
.catalog-filters-product .catalog-filters .filters-category .category:active {
  transition: 0.2s;
  background: #989797;
}
.catalog-filters-product .catalog-filters .filters-category .categoryActive {
  background: #7e7d7d;
}
.catalog-filters-product .catalog-filters .filters-category .categoryActive:hover {
  background: #a1a0a0;
  padding: 9px 10px;
}
.catalog-filters-product .catalog-filters .filter-reset {
  padding: 8px 0;
  background: #eaeaea;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.catalog-filters-product .catalog-filters .filter-reset:hover {
  background: silver;
}
.catalog-filters-product .catalog-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 40px 30px;
  width: 80%;
  height: fit-content;
}
.catalog-filters-product .catalog-products .card-product {
  position: relative;
}
.catalog-filters-product .catalog-products .card-product .product-flag {
  position: absolute;
  right: 10px;
  top: 10px;
}
.catalog-filters-product .catalog-products .card-product .product-flag .product-new {
  background: #860707;
  color: white;
}
.catalog-filters-product .catalog-products .card-product .product-flag .product-sale {
  background: #c07f01;
  color: white;
}
.catalog-filters-product .catalog-products .card-product .product-price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}
.catalog-filters-product .catalog-products .card-product .product-noStock {
  margin: 0;
  max-width: fit-content;
  padding: 5px 7px;
  border-radius: 10px;
  background: silver;
}
.catalog-filters-product .catalog-products .card-product .product-categories,
.catalog-filters-product .catalog-products .card-product .product-rating {
  font-size: 16px;
  margin-bottom: 5px;
}
.catalog-filters-product .catalog-products .no-Stock {
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
