.catalog-filters .filter-IsInStock{
  background: white;
  border-radius: 10px;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  padding-right: 10px;
}

.catalog{
  background: silver;
  padding: 50px 0;

  &-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
  }

  &-search{
    width: 100%;
    input{
      width: 100%;
    }
  }


  &-filters{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .filter-IsNew{
      background: white;
      padding: 8px 12px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      width: fit-content;
      input{
        margin-right: 5px;
        height: 15px;
        width: 15px;
        &:hover{
          cursor:pointer;
        }
      }
    }

    .filter-IsInStock{
      border-right: white;
      margin: 0 10px;
    }
  }

  &-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;

    .card-product{
      margin-bottom: 30px;
      position: relative;
      .product-price{
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 700;
      }
      .product-new{
        font-size: 14px;
        padding: 14px 10px;
        display: inline-block;
        background: #a00202;
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
      }
      .product-noStock{
        padding: 5px 7px;
        background: silver;
        width: fit-content;
        border-radius: 10px;
      }
    }

    .no-Stock{
      opacity: .5;
    }

  }

}