*{
  color:black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
 html, body{
   overflow-x:hidden;
 }
.container{
  max-width: $content-width;
  margin: 0 auto;
}

@media (min-width: 600px){
 .css-hyum1k-MuiToolbar-root {
   padding-left: 0 !important;
   padding-right: 0 !important;
 }
}

@media (max-width: $content-width) {
  .container{max-width: $content-widthXl;}
}

@media (max-width: $content-widthXl) {
  .container{max-width: $content-widthLg;}
}

@media (max-width: $content-widthLg) {
  .container{max-width: $content-widthMd;}
}

@media (max-width: $content-widthMd) {
  .container{max-width: $content-widthSm;}
}

